*{
  margin: 0px;
  padding: 0px;
}

body{
    background-color: #2c2c2c;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.bg-img{
    background-image: url("../Assets/Images/ellipse1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    top: 50%;
    z-index: 1;
}
.content {
  flex: 1; 
}
.login-container {
  margin-top: 200px;
  
}

.bg-card{
  /* background-color: #FF0202; */
  background: linear-gradient(#FF0202, transparent) ;
  border: none;  
}

.trans{
  opacity: 100% !important;
}

.text-sm{
    font-size: 0.775rem; 
line-height: 1.25rem;
}

footer{
  background-color: red;
  z-index: 0;
  margin-top: auto;

}
